{% extends 'base.html' %}
{% load static %}
{% load get_recipe_tags %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="single-card" data-id="{{ recipe.id }}">
        <img src="{% get_media_prefix %}{{ recipe.image }}" alt="{{ recipe.name }}" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                {% if request.user.is_authenticated %}
                <div class="single-card__favorite">
                    <button class="button button_style_none" name="favorites" {% if not fav %}data-out{% endif %}><span class="icon-favorite icon-favorite_big {% if fav %}icon-favorite_active{% endif %}"></span></button>

                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                </div>
                {% endif %}
            </div>
            <ul class="single-card__items">
                {{ recipe.id|get_recipe_tags|safe }}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> {{ recipe.preparing_time }} мин.</p>
                <ul class="single-card__items">
                    <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {{ recipe.author.username }}</p></li>
                    {% if request.user == recipe.author %}<li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'edit_recipes_url' recipe.slug %}" class="single-card__text">Редактировать рецепт</a></li>{% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                <li class="single-card__item">
                    {% if not buying %}
                    <button class="button button_style_blue" name="purchpurchases" data-out><span class="icon-plus"></span> Добавить в покупки</button>
                    {% else %}
                    <button class="button button_style_light-blue-outline" name="purchpurchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
                    {% endif %}
                </li>

                {% if request.user.is_authenticated %}<li class="single-card__item"><button class="button button_style_light-blue button_size_auto" name="subscribe" {% if not subsc %}data-out>Подписаться на автора {% else %}><span class="icon-check button__icon"></span> Отписаться от автора{% endif %}</button></li>
               {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for ingredient in recipe.ingredients.all %}
                        <p class=" single-card__section-item">{{ ingredient }}</p>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchpurachases.js' %}"></script>
{% if request.user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endif %}
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
{% if request.user.is_authenticated %}
<script src="{% static 'singlePage.js' %}"></script>
{% else %}
<script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}
{% endblock %}
