{% extends 'base.html' %}
{% load static %}

{% block title %}Мои подписки{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">{% endblock %}

{% block content %}
{% csrf_token %}
        
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    {% for follow in follows %}
    {% with follows_recipes=follow.get_recipes %}
    <div class="card-list">
        <div class="card-user" data-id="{{follows_recipes.0.id}}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{follow.author.username}}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                
                {% for recipe in follows_recipes %}
                {% if forloop.counter < 4 %}
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="/media/{{recipe.image}}" alt="{{recipe.name}}" class="recipe__image">
                        <h3 class="recipe__title">{{recipe.name}}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{recipe.preparing_time}} мин.</p>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
        
                <li class="card-user__item">
                    <a href="{% url 'author_url' follow.author.username%}" class="card-user__link link">Еще рецептов {{follows_recipes.count|add:-3}}</a>
                </li>

            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
       
    </div>

    {% include 'pag.html' with recipes=follows%}   

{% endblock %}

{% block JS %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>

{% endblock %}
